body {
    padding-top: 70px;
}

p{
    text-align: justify;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.section{
    padding-top: 40px;
    margin-top: -40px;
}
