body {
  padding-top: 70px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

section{
    height: 105%;
    padding-top: 150px;
}

#intro{
    text-align: center;
    /* background: #4285F4; */
    /* color: #fff; */
}
#about{
    background: #34a853;
    color: #fff;
}
#skills{
    background: #fbbc05;
    color: #fff;
}
#work{
    background: #ea4335;
    color: #fff;
}
#education{
    background: #00a1f1;
    color: #fff;
}
#projects{
    background: #7cbb00;
    color: #fff;
}
#contact{
    background: #ffbb00;
    color: #fff;
}
#resume{
    background: #f65314;
    color: #fff;
}
