body {
    padding-top: 70px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.section{
    padding-top: 40px;
    margin-top: -40px;
}
.section p{ text-align: justify;}

.jumbotron {
    background: #532f8c;
    color: white;
    padding-bottom: 80px
}
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7
}
.jumbotron .btn-primary:hover {
    background: #7646c1
}
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em
}
.navbar+.jumbotron {
    margin-top: -20px
}
.jumbotron .logo {
    display: block;
    background: #532f8c;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white
}
.jumbotron .logo img {
    max-width: 100%
}

.jumbotron .page-scroll { height: 80px; width: 110px; display: block; position: absolute; bottom: 0px; right: 5%; background-color: #222222; text-align: center; z-index: 6; }
.jumbotron .page-scroll .glyphicon { 
	color: #FFFFFF; 
	font-size: 30px; 
	padding-right: 2px; 
	padding-top: 20px; 
	
	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.jumbotron .page-scroll:hover .glyphicon { padding-top: 25px; }

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}
    
	50% {
		padding-top: 28px;
	}
    
	100% {
		padding-top: 20px;
	}
}


@media (max-width: 767px) { 
	.jumbotron .page-scroll { width: 100%; right: 0px; height: 70px;}
}
